[Unit]
Description=ArnYtron3000 Poster
Requires=feuforeve-fr.service postfix.service
After=feuforeve-fr.service postfix.service

[Service]
#User=http
#Group=http
WorkingDirectory=/opt/feuforeve-fr
Type=oneshot
# guile-oauth is needed. If installed on the system, remove it from GUILE_LOAD_PATH.
Environment="GUILE_LOAD_PATH=.:../guile-oauth"
# You should modify the script to change the keys and secrets
ExecStart=/usr/bin/guile arnytron-postbot.scm

